.header
{
  min-height: 100%;
  margin-bottom: 150px;
}

.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
  height: 100px;
}

/*#chat_user
{
  border-bottom: 2px solid #21ade7;
  color: #21ade7;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}*/

#online_users
{
  margin-top: 5px;
  margin-bottom: 5px;
}

body
{
  background: url("/images/bg-index.png");
}

.btn
{
  font-size: 16px;
}

.card-messages
{
  /*background-color: white;*/
}

/*
.message
{
  background-color: rgb(0,123,255);
  color: white;
  border-radius: 15px;
  font-size: 14px;
}*/

.list-group
{
  height: 427px;
  overflow: auto;
}

.card-list-message
{
  height: 330px;
  overflow: auto;
}
